<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Wave FinTech</title>
    <link rel="stylesheet" href="{% static 'usuarios/css/login.css' %}">
</head>
<div id="login-form">
    <img src="{% static 'usuarios/img/brasil.png' %}" class="flag">
    <div class="left-side">
        <div class="chart-container">
            <canvas id="myChart" style="width: 70%; height: 300px;"></canvas>
        </div>
    </div>
    <div class="divider"></div>
    <div class="right-side">
        <h2>Bem Vindo (a)!</h2>
        <div class="divider2"></div>
        <form id="loginForm" method="post" action="/usuarios/login/">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required placeholder="Digite seu email">
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" required placeholder="Digite sua senha">
            </div>
            <input type="submit" value="Login">
        </form>
        <p id="message" style="color: red"></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'usuarios/js/login.js' %}"></script>
</div>
</html>